<ion-header></ion-header>
<ion-content color="primary" class="seccion-login">
  
  <img class="img-logo" src="assets/Logo2.png" alt="">

   <ion-text>
    <P class="TEXTO">Bienvenido</P>
  </ion-text>


<div class="botones">


  
  <ion-button class="loginn-button"  type="submit" expand="block" color="light" routerLink="/login">
    <ion-text>
      INICIAR SESIÓN
    </ion-text>
 </ion-button>   
 <ion-button class="loginn-button"  type="submit" expand="block" color="light" routerLink="/login/registro">
    <ion-text>
      REGISTRARSE
    </ion-text>
 </ion-button> 

</div>
  
 


  
  </ion-content>

 