<ion-header [translucent]="true" >
  <ion-toolbar class="ion-text-center " >

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>DATOS</ion-title>
  </ion-toolbar>
  
</ion-header>


<ion-content color="primary"  >
  
  <ion-grid  class="ion-no-margin ion-no-padding">
    <ion-row>
      <ion-col sizeSm="4" >
        <img class="imagenPerfil" src="assets/img/cliente.png" alt="">
        <ion-text class="texto-encima">
          Hector Velazco
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              DATOS PERSONALES
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <br>
              EXPERIENCIA
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              HABILIDADES
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              ESPECIALIDADES
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              ADICIONALES
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 

  

</ion-content>
