<ion-header class="ion-no-border">
  <ion-toolbar class="ion-text-center ion-no-padding">
    <div class="imagen-Logo">
      <img src="assets\img\LOGO-SLOGAN.png" width="150px" alt="">
    </div>
  </ion-toolbar>
  
  <!-- Se Muestra el perfil actual -->
  <ion-card class="card-datos-perfil">    
      <ion-item color="primary">
          <ion-avatar class="avatar">
            <img class="avatar" src="assets/img/empleado.png" alt="">
          </ion-avatar>
          <ion-icon routerLink="../datos-perfiles" slot="end"            color="secondary" name="caret-forward-outline">
          </ion-icon>
    <ion-label class="ion-text-center">
      <h1>Mauricio del Villar </h1>
      <p>Guardia de seguridad</p>
      <ion-text color="warning">
        Aceros Camesa
      </ion-text>

    </ion-label>
  </ion-item>    
  </ion-card>
  
</ion-header>


<ion-content class=" ion-text-center">

  <ion-label>
    <ion-text>
      <h1>"Se amable, Cortés y Respetuoso"</h1>
    </ion-text>
  </ion-label>
<!-- grid de los 3 cards -->
<ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6">            
            <ion-row>
              <ion-col>
                <ion-card class="cards-izq" >
                  <ion-grid>
                    <ion-row>
                      <ion-col size="4">
                        <img src="assets/img/CALENDARIO.png" alt="">

                      </ion-col>
                      <ion-col size="8">
                        <ion-text>Miércoles</ion-text>
                        <ion-note>
                          09/11/2021
                        </ion-note>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-card class="cards-izq">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="4">
                        <img src="assets/img/CLOCK.png" alt="">

                      </ion-col>
                      <ion-col size="8">
                        <ion-text>Turno 24 Hrs.</ion-text>
                        <ion-note>
                          Restan: 24:00:00
                        </ion-note>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-col>

          <!-- card ingresos programados -->
          <ion-col size="6">
            <ion-card class="card-ingresos">
              
            <ion-header>
              Ingresos Programados
            </ion-header>
            <ion-card-content class="">
              <ion-grid >
                <ion-row >
                  <ion-col size="5">

                    <ion-badge  color="none">03</ion-badge>

                    <img src="assets/img/visitante.png" alt=""> 
                                        
                  </ion-col>
                  <ion-col size="2"></ion-col>
                  <ion-col size="5">

                    <ion-badge  color="none">02</ion-badge>

                    <img src="assets/img/proveedores.png" alt="">
                    
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">VISITANTES
                    
                  </ion-col>
                  
                  <ion-col size="6">PROVEEDORES</ion-col>

                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
          </ion-col>
          
        </ion-row>
        
  </ion-grid>

  <!-- card prevencion de riesgos -->
  <ion-card class="card-preve">
    <ion-header>PREVENCIÓN DE RIESGOS</ion-header>
    <ion-card-content class="ion-text-center">
      <ion-grid>
        <ion-row class="fila-iconos">
          <ion-col size="4">
            <ion-avatar>
              <img src="assets/img/QR.png" alt="">
            </ion-avatar>
          </ion-col>
          <ion-col size="4">
            <ion-avatar>
              <img src="assets/img/regManuales.png" alt="">
            </ion-avatar>
          </ion-col>
          <ion-col size="4">
            
            <ion-avatar>
              <img src="assets/img/rondines.png" alt="">
            </ion-avatar>
          </ion-col>

        </ion-row  >
        <!-- fila de los textos -->
        <ion-row class="fila-textos">
          <ion-col size="4">
            <ion-text color="primary">
              Registro QR
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-text color="primary">
              Registros <br>Manuales
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-text color="primary">
              Rondines
            </ion-text>
            
          </ion-col>

        </ion-row>
        
        <!-- Fila de iconos 2 -->
        <ion-row  class="fila-iconos">
          <ion-col size="4">
            <ion-avatar>
              <img src="assets/img/informes.png" alt="">
            </ion-avatar>
          </ion-col>
          <ion-col size="4">
            <ion-avatar>
              <img src="assets/img/Consigna.png" alt="">
            </ion-avatar>
          </ion-col>
          <ion-col size="4">
            
            <ion-avatar>
              <img src="assets/img/Mensajes.png" alt="">
              

            </ion-avatar>
           <ion-badge  color="danger">2</ion-badge>


          </ion-col>

        </ion-row>

        <!-- Fila de textos 2 -->
        <ion-row class="fila-textos">
          <ion-col size="4">
            <ion-text color="primary">
              Informes
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-text color="primary">
              Objetos <br>Por Consigna
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-text color="primary" >
              Mensajes
            </ion-text>
            
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>



  

  <!-- Boton para ir al perfil de cliente -->
  <ion-buttons>
    <ion-button routerLink="../perfil-cliente">
      <ion-icon name="accessibility-outline"></ion-icon>
      <ion-text>Ir a Perfil Cliente</ion-text>
    </ion-button>
  </ion-buttons>

  


</ion-content>
