.seccion-login {
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  margin: auto;

  .img-logo {
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height: 175px;
  }
  .TEXTO {
    text-align: center;
    padding-top: 16px;
    font: italic;
    font-weight: bolder;
    
  }

  .login-form {
    padding: 16px;

    .form-input {
      margin-bottom: 10px;
      --padding-end: 22px;
      --background: primary;
      --border-color: rgb(189, 186, 186);

      

      .eye-icon {
        color: white;
        position: relative;
        top: 28px;
        font-size: 1.5rem;
      }
      ion-label {
        
        color: white;
        position:initial;
        
      }
      ion-input {       
       
        color: white;
      }
      
    }
    
  }

  .login-button {
      padding-left: 28px;
      padding-right: 28px;
      color: white;
      --border-radius: 6px;
      
  
      ion-text{
        font-weight: bolder;
      }
    }

  
  .text-danger {
    color: #cf3c4f;
  }
}
.elementos-footer {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  .Texto1 {
    text-align: center;
    font-size: small;
  }
  .Texto2 {
    font-weight: bolder;
    color: white;
  }
}
