<header></header>
<ion-content [fullscreen]="true" color="primary" class="seccion-login">

  <img class="img-logo" src="assets/Logo2.png" alt="">

  <ion-text>
    <P class="TEXTO">CREAR CUENTA</P>
  </ion-text>

  <form class="login-form ">


    <ion-item class="form-input" lines="inset">
      <ion-label position="floating">ID Cliente o Empleado <span class="text-danger">*</span></ion-label>
      <ion-input type="text" name="text" required="true"></ion-input>
    </ion-item>
    <ion-item class="form-input" lines="inset">
      <ion-label position="floating">Nombre (s) <span class="text-danger">*</span></ion-label>
      <ion-input type="text" name="text" required="true"></ion-input>
    </ion-item>
    <ion-item class="form-input" lines="inset">
      <ion-label position="floating">Apellidos <span class="text-danger">*</span></ion-label>
      <ion-input type="text" name="text" required="true"></ion-input>
    </ion-item>
    <ion-item class="form-input" lines="inset">
      <ion-label position="floating">Correo electrónico <span class="text-danger">*</span></ion-label>
      <ion-input type="text" name="text" required="true"></ion-input>
    </ion-item>
    <ion-item class="form-input" lines="inset">
      <ion-label position="floating">Telefono (10 digitos) <span class="text-danger">*</span></ion-label>
      <ion-input type="number" name="number" required="true"></ion-input>
    </ion-item>
    <ion-item class="form-input" lines="inset">
      <ion-label position="floating">Contraseña <span class="text-danger">*</span></ion-label>
      <ion-input type="password" name="password" required="true"></ion-input>
    </ion-item>



  </form>
  
    <ion-button class="login-button ion-padding" (click)="OnLogin()" expand="block" color="light">
      <ion-text>
      CREAR CUENTA
      </ion-text>
    </ion-button>
  
</ion-content>
<ion-footer [translucent]="true" class="elementos-footer">
  <ion-toolbar color="primary">
    <ion-title>
      <div>

        <p class="Texto1">
          Terminos y<a class="Texto2" routerLink="#"> Condiciones de uso </a>
        </p>
      </div>

    </ion-title>
  </ion-toolbar>
</ion-footer>