.seccion-login {
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  margin: auto;

  .img-logo {
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height: 175px;
  }
.TEXTO {
      font: italic;
font-weight: bolder;
      padding: 10% 16px 0px 42px;
      
    }
  .login-form {
   padding: 15% 16px 0px 16px;
    
    
    

    .form-input {
      
      --padding-end: 22px;
      --background: primary;
      --border-color: rgb(186, 186, 186);

      .start-icons {
        color: white;
        position: absolute;
        top: 4px;
        font-size: 1.5rem;
        left: 20px;
      }

      .eye-icon {
        color: rgba(255, 255, 255, 0.5);
        position: relative;
        top: 28px;
        font-size: 1.5rem;
      }
      ion-label {
        color: white;
        position: absolute;
        margin-left: 35px;
        top: 3px;
      }
      ion-input {
        --padding-start: 36px;
        --padding-end: 0px;
        --padding-top: 36px;
        color: white;
      }
    }
  }

  .texto-forgotpass {
    align-items: flex-end;

    p {
      margin-right: 20px;
    }

    a {
      font-size: small;
      color: gray;
    }
  }

  .loginn-button {
    color: white;
    --border-radius: 5px;
    margin: 20px;

    ion-text{
      font-weight: bolder;
    }
  }

  .text-danger {
    color: #cf3c4f;
  }
}
.elementos-footer {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  .Texto1 {
    text-align: center;
    font-size: small;
  }
  .Texto2 {
    font-weight: bolder;
    color: white;
  }
}
