<ion-header></ion-header>
<ion-content color="primary" class="seccion-login">
  
  <img class="img-logo" src="assets/Logo2.png" alt="">

   <ion-text>
    <P class="TEXTO">INICIAR SESIÓN</P>
  </ion-text>
  
  <div class="login-form" >
  
    <div>
      
    <ion-item class="form-input" lines="inset">
      <ion-icon class="start-icons" slot="start" name="mail-outline"></ion-icon>
      <ion-label  position="floating">Correo electrónico <span class="text-danger">*</span></ion-label>
      <ion-input name="email" type="text"   ></ion-input>
    </ion-item>
   </div>

   <div >
    <ion-item class="form-input" lines="inset">
      <ion-icon class="start-icons" slot="start" name="lock-closed-outline"></ion-icon>
      <ion-label position="floating">Contraseña <span class="text-danger">*</span></ion-label>
      <ion-input name="password" [type]="showPassword ? 'text' : 'password'"  ></ion-input>
     <ion-icon class="eye-icon" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
      
    </ion-item>
  </div>
  

  <!-- Texto de ¿Olvidaste tu contraseña? -->
      <div class="texto-forgotpass">
        <p class="ion-text-end">
          <a routerLink="/resetpassword">¿Olvidaste tu contraseña? </a>
        </p>
      </div>

<!-- Bóton Iniciar sesion -->
   <ion-button class="loginn-button" routerLink="/slides-start" type="submit" expand="block" color="light">
     <ion-text>
       Iniciar Sesión
     </ion-text>
  </ion-button>   
  </div>


  <!-- Recordar contraseña check box -->
  <!-- <ion-item class="ion-padding-start" lines="none">
    <p>Recordarme</p>
    <ion-checkbox color="secondary"  slot="start"></ion-checkbox>
  </ion-item>  -->
  </ion-content>

  <ion-footer class="elementos-footer" >
    <ion-toolbar color="primary">
      <ion-title >
        <div >

    <p class="Texto1">
      ¿No tienes una cuenta?<a class="Texto2" routerLink="./registro">  Regístrate </a>
    </p>   
</div>
        
      </ion-title>
    </ion-toolbar>
  </ion-footer>