<ion-tabs  >

  <ion-tab-bar color="primary"slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="consignas">
      <ion-icon name="filter-circle-outline"></ion-icon>
      <ion-label>Consignas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="panico">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>Panico</ion-label>
    </ion-tab-button>

   <ion-tab-button tab="claves">
      <ion-icon name="key-outline"></ion-icon>
      <ion-label>Claves</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracion">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
