<ion-header no-border>
  <ion-toolbar color="primary" >
    <ion-buttons  slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
    <ion-title class="ion-text-center">¿Olvidaste tu contraseña?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" class="ion-padding">
  <form class="ion-padding-top" (submit)="SendLinkReset()">
    <div class="ion-text-center">
      <p>
        Escribe tu correo para enviarte las instrucciones para recuperar tu contraseña :)
      </p>
    </div>
    <ion-item>
      <ion-input type="text" [(ngModel)]="email" placeholder="Ingrese su correo electronico" name="email">

      </ion-input>
    </ion-item>
    <ion-button class="login-button"
      routerLink="/slides-start"
      color="secondary"  type="submit"   >Enviar</ion-button> 
  </form>

</ion-content>