ion-slides{
    height: 100%;
    --bullet-background:white;
    --bullet-background-active:#EEB007;
    
  }
  .img-logo{
    margin: auto;
    width: 100px;
    height: 100px;
  }
  h2{
    margin-top: 48px;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 60px;
  
  }
  
  ion-slide {
    padding-top: 10%;
    display:block;
    
  
  }
  .slide-img-padding{
    margin: auto;
    padding: 10px;
    width: 200px;
  }
  h3{
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 60px;
  }