<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="white">

  <ion-card-header class="tabla" color="primary" >
    <ion-avatar class="avatar">
      <img class="avatar" src="assets/img/empleado.png" alt="">
    </ion-avatar>
    <ion-card-content>
      <ion-item-divider color="primary"> 
        <ion-label text-center>Eduardo Ramírez 
    <p>Guardia de seguridad</p>
    <ion-text color="tertiary">
      <h2>Aceros CAMESA</h2>
    </ion-text>

        </ion-label> 
      </ion-item-divider>
    </ion-card-content>
  </ion-card-header>
 
 

</ion-content>
